#page {

  &.adhd {
    section.text_with_feature {
      .color-block {
        padding: 30px;
      }

      .right-col p {
        line-height: 27px;
      }
    }

    section.text_image {
      li {
        font: 400 24px/1.6em var(--m)
      }

      .bg-right.bg-img {
        background-size: calc(50% - 40px);
      }
    }
  }

  &.barnspecialisterna {
    section.text {
      p {
        margin: 20px -30px 15px;
        font: 400 24px/1.5em var(--m);
      }
    }

    section.text_image {
      .bg-right.bg-img {
        background-size: calc(50% - 63px);
      }

      p {
        margin: 25px 0;
      }

      .container {
        padding: 0;
      }

      .row {
        margin: auto 0;
      }
    }
  }

  &.personal {
    section.top .top-txt {
      max-width: 1620px;
    }

    section.chevron-list {
      ul {
        margin: 20px auto;
      }
    }
  }

  &.fragor {
    section.title {
      margin-bottom: 25px;
    }

    section.text {
      max-width: 1180px;
      margin: 0 auto;
    }

    section.chevron-list {
      ul {
        margin: 20px auto;
      }
    }
  }

  &.vardgivare {
    section.two_features {
      .color-block {
        h3 {
          font: 700 24px/1.5em var(--ss) !important;
        }
      }
    }

    section.text {
      max-width: 1400px;
      margin: 0 auto;
    }

    section.text_image {
      h5 {
        font: 700 24px/1.5em var(--m);

        &:before {
          content: '•';
          margin: 0 15px;
        }
      }

      .container-fluid {
        padding: 50px 0;
      }

      .row {
        margin: auto 0;
      }

      p {
        font: 400 18px/1.5em var(--m);
      }

      .bg-right.bg-img,
      .bg-left.bg-img {
        background-size: calc(50% - 20px);
      }

      .bg-right .col-md-6 {
        padding-right: 20px !important;
      }

      .bg-left .col-md-6 {
        padding-left: 20px !important;
      }

      li {
        font: 400 18px/1.5em var(--m)
      }
    }
  }

  section.vacancies {
    .accordion-body {
      ul li:before {
        content: '•';
        margin: 0 15px;
      }
    }
  }

  section.text_image {

    .__bg-img {
      width: 40%;
    }

    &.bg-right {
      right: 0;
    }
  }
}

.bg-right {


  .__bg-img {
    width: 40%;
    right: 0;
  }
}