section.contacts {
  font: 400 22px/1.5em var(--m);


  h4 {
    font: 700 24px/1.5em var(--ss);
  }

  span {
    font-weight: 600;
  }

  .mt-80 {
    margin-top: 80px;
  }

  .addr::before {
    content: url('../img/icon-pin-white.svg');
    @extend %icon;
  }

  .phone::before {
    content: url('../img/icon-phone-white.svg');
    @extend %icon;
  }

  .email::before {
    content: url('../img/icon-letter-white.svg');
    @extend %icon;
  }

  .fax::before {
    content: url('../img/icon-fax-white.svg');
    @extend %icon;
  }

  .web::before {
    content: url('../img/icon-web-white.svg');
    @extend %icon;
  }

  .post::before {
    content: url('../img/icon-post-white.svg');
    @extend %icon;
  }

  .wave_after {
    margin-bottom: 30px;

    &::after {
      content: url('../img/wave.svg');
      width: 75px;
      display: block;
      margin-top: -16px;
    }
  }
}