//-----footer-------//

footer {
  margin-top: 160px;

  .main-bg {
    background: var(--secondary);
    padding: 50px 0;

  }

  p,
  a {
    font: 400 18px/1.5em var(--m);
    display: flex;
    color: var(--text);
  }

  h3 {
    font: 400 22px/1.5em var(--m) !important;
    margin-bottom: 13px;
    display: inline-block;
    text-transform: uppercase;

    &::after {
      content: url('../img/wave.svg');
      width: 75px;
      display: block;

    }
  }

  .sch-r::before {
    content: url('../img/icon-right-schevron.svg');
    margin-right: 15px;
    margin-top: 3px;
  }

  .addr::before {
    content: url('../img/icon-pin.svg');
    @extend %icon;
  }

  .phone::before {
    content: url('../img/icon-phone.svg');
    @extend %icon;
  }

  .fax::before {
    content: url('../img/icon-fax.svg');
    @extend %icon;
  }

  .calendar::before {
    content: url('../img/icon-calendar.svg');
    @extend %icon;
  }

  .space-58 {
    height: 58px;
  }
}