// ------ Navbar ---------//
.topbar {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
  border-radius: 0px 0px 10px 10px;
  padding: 15px 97px 15px 150px;
  z-index: 99999;
  position: absolute;
  transition: all 0.5s ease 0s;

  &.fixed-top {
    // background: rgba(0, 0, 0, 0.3);
    background: var(--base);
    transition: all 0.5s ease 0s;
    position: fixed !important;
    z-index: 1030 !important;
    box-shadow: 0px 2px 5px #565656;
  }
}


#navbarNav {
  a {
    text-transform: uppercase;
    font: 400 16px/1.25em var(--m);
    color: #fff;

    &.active,
    &:hover {
      font: 600 16px/1.25em var(--m);
      color: #fff;
    }
  }
}

.dropdown-menu {
  background-color: var(--base);
}