.form-phone::before {
  content: url('../img/icon-phone-white.svg');
  @extend %icon;
}

.form-email::before {
  content: url('../img/icon-letter-white.svg');
  @extend %icon;
}

.form-address::before {
  content: url('../img/icon-pin-white.svg');
  @extend %icon;
}

#page {
  section.top {
    @extend %top-title;


  }

  section.text_with_feature {

    p {
      font: 400 24px/1.5em var(--m);
    }

    .color-block {
      @extend %color-block;
    }
  }

  section.chevron-list {

    @extend %chevron-list;
  }

  section.title {
    margin-top: 110px;
    margin-bottom: 40px;
    text-transform: uppercase;

    p.sub-title {
      font: 400 18px/1.5em var(--m);
      color: var(--text);
      max-width: 965px;
      margin: 0 auto 20px;
    }
  }

  section.contact_form {

    .container {
      background: var(--base);
      border-radius: 20px;
      padding: 50px 130px;
    }

    p {
      max-width: 927px;
      margin: 0 auto;
      font: 600 24px/ 1.5em var(--m);
      margin-bottom: 15px;
    }

    p[class*="form-"] {
      font: 400 22px/1.5em var(--m);
    }

    input[type=text] {
      width: 100%;
    }
  }

  section.small-form {
    margin-top: 50px;
  }

  section.vacancies {
    .accordion-item {
      margin: 15px 0;
      background-color: #fff;
      box-shadow: 0px 0px 20px rgba(51, 60, 78, 0.1);
      border-radius: 20px;
    }

    button.accordion-button {
      padding: 40px 40px 20px;
      color: var(--text);
      font: 700 34px/1.5em var(--m);
      background-color: #fff;
      border-radius: 20px;
      box-shadow: none;

      &::after {
        width: 56px;
        height: 30px;
      }

      &.collapsed {
        padding: 40px;
      }
    }


  }

  section.benefits {


    .benefits-items {
      margin: 70px 116px 50px;
    }

    .benefits_item {

      .benefits_img {
        width: 100px;
        margin: 0 auto;

        img {
          height: 100px;
          object-fit: cover;
        }
      }

      h3 {
        font: 700 24px/1.5em var(--ss);
        color: var(--base);
        margin: 20px 0 10px;
      }

      .benefits_text {
        font: 400 18px/25.2px var(--ss);
        color: var(--text);
      }
    }
  }

  section.two_features {

    margin-top: 40px;

    .color-block {
      @extend %color-block;
    }

  }

  section.text_image {
    .bg-img {
      background-repeat: no-repeat;

    }

    .bg-left {
      background-position: left;

      &.bg-img {
        background-size: calc(50% - 50px);

      }

      &-auto {
        &.bg-img {
          background-size: auto
        }
      }

    }

    .bg-right {
      background-position: right;

      &.bg-img {
        background-size: 50%;
      }

      &-auto {
        &.bg-img {
          background-size: auto
        }
      }
    }

    p {
      font: 400 24px/1.5em var(--m);
      // margin-bottom: 2rem;
    }

    li:before {
      content: '•';
      margin: -2px 20px 0 17px;
    }

    .chevron-list {
      @extend %chevron-list;
    }

  }

  section.text,
  section.chevron-list {
    p {
      font: 400 18px/1.5em var(--m);
      color: var(--text);
    }

    .wave {
      padding-top: 100px;
      background-color: var(--base);

      //mask: var(--mask);
      * {
        color: #fff;
      }
    }

    .wave-clip {
      display: block;
      width: 100%;
      mask-image: url(../img/clip.png);
      content: "";
      height: 195px;
      background-color: var(--base);
    }
  }

  section.chevron-list {
    .wave {
      padding-top: 70px;
    }
  }
}